<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heliopales.bladeexpertfiller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BladeExpertFiller">
        <activity
            android:name=".damages.DamageViewPagerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".damages.DamageListActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".camera.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".camera.CameraActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".blade.BladeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intervention.InterventionDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intervention.InterventionListActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>